annotated-types==0.7.0
argcomplete==3.6.2
attrs==25.4.0
autocommand==2.2.2
beautifulsoup4==4.14.2
Brlapi==0.8.7
btrfsutil==6.17
cachetools==6.2.1
cbor2==5.7.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
configobj==5.0.9
contourpy==1.3.3
cryptography==46.0.3
cycler==0.12.1
dasbus==1.7
dbus-python==1.4.0
defusedxml==0.7.1
distro==1.9.0
evdev==1.9.2
filelock==3.20.0
fonttools==4.60.1
Glances==4.3.3
gps==3.26.1
httplib2==0.31.0
idna==3.11
inputs==0.5
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
kiwisolver==1.4.7
Levenshtein==0.27.1
lit==21.1.4.dev0
louis==3.34.0
lxml==6.0.2
Mako==1.3.10.dev0
Markdown==3.9
MarkupSafe==3.0.2
matplotlib==3.10.6
moddb==0.14.0
more-itertools==10.8.0
narwhals==2.9.0
netsnmp-python==1.0a1
nftables==0.1
numpy==2.3.4
OpenTimelineIO==0.17.0
orjson==3.11.3
packaging==25.0
pandas==2.3.1
pillow==12.0.0
platformdirs==4.5.0
plotly==6.3.1
protontricks==1.13.0
ProtonUp-Qt==2.14.0
psutil==7.1.1
pwquality==1.4.5
pyaaf2==1.7.1
pyaml==24.12.0
pycairo==1.28.0
pycparser==2.23
pycryptodomex==3.23.0
pycurl==7.45.6
pydantic==2.12.3
pydantic_core==2.41.4
PyGObject==3.54.5
pyinotify==0.9.6
pyparsing==3.2.5
PySide6==6.10.0
python-dateutil==2.9.0
python-distutils-extra==2.39
python-xlib==0.33
pytz==2025.2
pyxdg==0.28
PyYAML==6.0.3
pyzstd==0.18.0
QTermWidget==2.2.0
ranger-fm==1.9.4
RapidFuzz==3.14.1
Reflector==2023.6.28.0.36.1
requests==2.32.5
seaborn==0.13.2
setproctitle==1.3.7
setuptools==80.9.0
shiboken6==6.10.0
shiboken6-generator==6.10.0
six==1.17.0
smbus==1.1
soupsieve==2.8
steam==1.6.1
TBB==0.2
typing-inspection==0.4.2
typing_extensions==4.15.0
ufw==0.36.2
ulauncher==5.15.14
umu-launcher==1.2.9
urllib3==2.5.0
validate==5.0.9
vdf==4.0
websocket-client==1.9.0
wheel==0.45.1
xxhash==3.6.0
zstandard==0.25.0
